# Proveedores de LLM  
OPENAI_API_KEY="sk-tu-api-key-de-openai-aqui"

# Observabilidad y Trazabilidad (LangSmith)  
LANGCHAIN_TRACING_V2="true"  
LANGCHAIN_API_KEY="lsv2-tu-api-key-de-langsmith-aqui"  
LANGCHAIN_PROJECT="asistente_modular_v1"